/* ////////////  General  /////////////// */

body{
  width:100%;
  font-family: 'Work Sans', sans-serif !important;
  margin:0;
  padding:0;
  background-color: #DBE8F8;  
}

main{
  height:100vh;
  margin:0 5vw 0 5vw;
}

h1{
  margin:0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

h2{
  font-size: 1.5em;
  font-weight: bold;
}



/* ////////////  Menu  /////////////// */

#menu{
  background-color: whitesmoke;
  height:100px;
  width:100px;
  float: right;
  border-radius: 0 0 50px 50px;
}

#menu h2{
  text-align: center;
  margin-top:25%; 
}

#menu:hover{
  cursor: pointer;
  color: #7e7e7e;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color:black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #7e7e7e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



/* ////////////   Front Page  /////////////// */

#frontpage-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#frontpage-container img{
  width: 35%;
}

#info-container{
  width:65%;
  display: flex;
  flex-direction: column;
  margin:auto;
  align-items: center;
  padding:50px;
}

#headings-container h1:nth-child(1){
  font-size: 3.3em;
  float: left;
  margin-bottom:10px;
}

#headings-container h1:nth-child(2){
  font-size: 2.5em;
  float: left;
}

#options-container{
  width: 90%;
  margin:30px 0;
}

#sweets-option-container, #meals-option-container{
  height:115px;
  margin:10px;
  display: flex;
  flex-wrap: nowrap;
}

#sweets-img, #meals-img{
  height:100%;
  width:40%;
  border-radius: 0 20px 20px 0;
}

#sweets-img{
  background-image: url("images/christmas_squares.jpg");
  background-size: cover;
}

#meals-img{
  background-image: url("images/dumplings-2.jpg");
  background-size: cover;
}

#sweets-txt, #meals-txt{
  width:60%;
  height:100%;
  border-radius: 20px 0 0 20px;
}

#sweets-txt{
  background-color: #eb685a;
}

#meals-txt{
  background-color: #f68f69;
}

#sweets-txt h2, #meals-txt h2{
  text-align: center;
  position: relative;
  top: 20%;
}

#sweets-option-container:hover, #meals-option-container:hover{
  cursor: pointer;
}



/* ////////////   Recipe Finder Carousel  /////////////// */

.carousel {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-inner{
  border-radius: 20px;
}

.carousel-inner img{
  filter: brightness(72%);
}

.caption-tags,
.time-tags{
  display: inline-flex;
  padding: 2px 5px 2px 5px;
  border-radius: 8px;
  border: white solid 2px;
  margin-right: 5px;
}

.tags-container {
  display: inline-flex;
  font-weight: 600;
}

.tags-container *  {
  padding: 5px;
  border-radius: 8px;
  border: white solid 2px;
  margin-right: 5px;
}

.time-container {
  margin-bottom: 10px;
  font-weight: 600;
  padding: 5px;
}



/* ////////////   Recipe Finder Modal  /////////////// */

.modal {
  text-align: left;
}

.modal-header{
  border-bottom: none;
}

.modal-body img{
  border-radius: 20px;
}

.modal-body{
  padding: 0 1.2rem 1rem 1.2rem;
}

.modal-tags,
.modal-time-container div {
  display: inline-flex;
  padding: 5px;
  border-radius: 8px;
  border: black solid 2px;
  font-weight: 600;
}

.modal-time-container div {
  margin: 30px 5px 10px 0px;
}

.modal-tags {
  margin: 0px 5px 20px 0px;
}

.modal-tags-container{
  margin-bottom:8px;
}

#modal-ingredients{
  margin-bottom: 30px;
}



/* ////////////   About  /////////////// */

#about-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 40px 80px 0 80px;
}

#about-info-container{
  width:50%;
}

#about-info-container h1{
  text-align: left;
}


#about-img-container{
  width: 50%;
}

#about-img-container img{
  width: 120%;


}